:host {
    display: block;
}

.brand-image {
    float: left;
    line-height: 0.8;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
    --pf-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.img-circle {
    --pf-box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b !important;
}
