:host {
    display: block;
}

.form-inline {
    justify-content: center;
}

pf-image {
    --pf-margin: 0;
    --pf-padding: 0;
    --pf-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%) !important;
}
