.user-block {
    pf-image {
        --pf-border: 2px solid #adb5bd;
        --pf-padding: 2px;
        float: left;
    }
}

.profile-image {
    --pf-border: 3px solid #adb5bd;
    --pf-padding: 3px;
}

.tab-button {
    margin-right: 0.25rem;
    --pf-width: 8rem;
}
