.user-image-small {
    margin: -2px 0 0 -8px;
    --pf-box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b !important;
}
.user-image-big {
    --pf-box-shadow: 0 3px 6px #00000029, 0 3px 6px #0000003b !important;
    --pf-border: 3px solid #fff3;
}

.user-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}
